
<h1>
    Codeial / <%= title %>
</h1>

<% if(locals.user) {%>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/post/create-post" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
        <input type="submit" value="Post">
    </form>

    <% if(locals.posts){ %>
        <h3>Post section of &nbsp; "<%= user.name %>"</h3>
    <ul id="post-list-container">
            <% for( post of posts) {%>
                <li> <%= post.content%></li>
                <div>
                    <h3>Previous comments are:</h3>
                    <ul>
                        <% for( comment of post.comments) {%>
                            <li> <%= comment.content %></li>
                        <% } %>
                    </ul>
                </div>
                <small><form action="/post/add-comment" id="new-post-form" method="POST">
                    <textarea name="content" cols="30" rows="3" placeholder="Type Comment Here..." required></textarea>
                    <input type="hidden" name="post" value="<%= post._id %>">
                    <input type="submit" value="Post">
                </form></small>
            <% }%>
    </ul>

    <% }%>

</section>

<% }%>