<link rel="stylesheet" href="/css/user_profile.css">

<img src="<%= user.avatar%>" alt="<%= user.name%>" width="100px">

<% if(locals.user.id == profile_user.id) { %>

    <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Enter your Name" value="<%=profile_user.name %>" required>
        <input type="email" name="email" placeholder="Enter Email" value="<%= profile_user.email%>" required>
        <input type="file" onchange="loadFile(event)" id="avatar" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>

    <form action="/users/update/<%= profile_user.id%>" method="post" enctype="multipart/form-data">
       
        <img src="#" id="blah" alt="Image" width="100px">
    </form>
    

    <%}else {%>

        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>

<% } %>

<script>
    var loadFile = function(event) {
      var output = document.getElementById('blah');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src) // free memory
      }
    };
  </script>